{erl_opts, [fail_on_warning, debug_info]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
       {meck, ".*", {git, "git://github.com/eproxus/meck.git", "beb8d14e59"}},
        { cowboy,    ".*", { git, "git://github.com/extend/cowboy.git",        {tag, "0.9.0"} }},
        { mimetypes, ".*", { git, "git://github.com/spawngrid/mimetypes.git",  "master" }},
        { mustache,  ".*", { git, "git://github.com/mojombo/mustache.erl.git", "master" }},
        { cowboy_session, ".*", { git, "git://github.com/chvanikoff/cowboy_session.git", "master" }},
        { jiffy, ".*", { git, "git://github.com/davisp/jiffy.git", "master" }},
        { 'sqlite3',   ".*",  {git, "git://github.com/alexeyr/erlang-sqlite3.git", "HEAD"}}
       ]}.
{sub_dirs, [
            "apps/*",
            "rel"
           ]}.       
{erl_opts, [debug_info, fail_on_warning]}.

